* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body,
html {
    background: url("https://www.workfront.com/sites/default/files/styles/100/public/banner_pg/image/2019-03/18_leap_promo_banner_bg%20%281%29.jpg?itok=THEw3oOI") 50% 50%;
    height: 100%;
}

body * {
    font-family: "Arial", sans-serif;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #CCCC9A;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #555;
}

.note-top {
    display: block;
    width: 50%;
}

.inner-wrapper {
    width: 100%;
    padding: 20px;
}

.note-list__title {
    width: 100%;
    font-size: 14px;
}

.note-list__item {
    border-radius: 3px;
    border: 1px solid #CCCC9A;
    cursor: pointer;
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 10px;
    transition: all ease .4s;
}

.note-list__item:nth-child(odd) {
    background-color: #fafafa;
}

.note-list__item:nth-child(even) {
    background-color: #e6e6e6;
}

.note-block {
    margin-bottom: 20px;
}


.comments-block {
    max-height: 400px;
    overflow: auto;
    padding: 15px 0;
}

.note-field-out {
    width: 100%;
}

.note-field {
    background-color: #fafafa;
    border: 1px solid #CCCC9A;
    border-radius: 15px;
    color: #565656;
    height: 35px;
    outline: none;
    width: 100%;
    font-size: 14px;
    padding: 0 10px;
    max-width: 400px;
    transition: all ease .4s;
}

.note-btn:hover,
.note-list__item:hover,
.note-field:focus,
.note-field:hover {
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.34);
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.34);
    border-color: rgba(0,0,0,0.34);
}

.note-list__title_active {
    color: dodgerblue;
}

.note-field::-webkit-input-placeholder {
    color: #a0a0a0;
    transition: text-indent ease .4s;
}

.note-field::-moz-placeholder {
    color: #a0a0a0;
    opacity: 1;
    transition: text-indent ease .4s;
}

.note-field:-ms-input-placeholder {
    color: #a0a0a0;
    transition: text-indent ease .4s;
}

.note-field:-moz-placeholder {
    color: #a0a0a0;
    opacity: 1;
    transition: text-indent ease .4s;
}


.note-field:focus::-webkit-input-placeholder {
    text-indent: -300px;
}

.note-field:focus::-moz-placeholder {
    text-indent: -300px;
}

.note-field:focus:-ms-input-placeholder {
    text-indent: -300px;
}

.note-field:focus:-moz-placeholder {
    text-indent: -300px;
}

.note-out-title {
    color: #45484c;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
}

.note-btn {
    border-radius: 15px;
    font-size: 14px;
    padding: 0 10px;
    width: 150px;
    margin-top: 20px;
    background-color: #CCCC9A;
    cursor: pointer;
    font-weight: bold;
    height: 35px;
    color: #373737;
    border: none;
    outline: none;
    transition: box-shadow ease .4s;
}

.note-btn:active {
    opacity: 0.4;
}

.comment-date {
    font-size: 10px;
    color: #8c8f93;
}

.comment-txt {
    font-size: 12px;
    color: #CCCC9A;
}


.comment-wrapper {
    margin-top: 10px;
}

.comment-textarea {
    margin-top: 10px;
    font-size: 14px;
    outline: none;
    border: 1px solid #CCCC9A;
    padding: 8px 10px;
    resize: none;
    height: 200px;
}

.note-list {
    margin-left: 0;
}

.note-bottom {
    border-top: 1px solid #cccc9a38;
    padding-top: 30px;
    margin-top: 30px;
}

.note-bottom .note-field {
    max-width: inherit;
}

.comment-wrapper {
    display: table;
    width: 100%;
    border-bottom: 1px solid #cccc9a38;
    padding: 10px 5px 5px;
}

.comment-date,
.comment-txt {
    display: table-cell;
    vertical-align: top;
}


.comment-date {
    text-align: right;
    width: 100px;
}

.comment-field {
    height: 70px;
}